# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Poetry
poetry.lock

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Node (dashboard)
dashboard/node_modules/